amqp==6.2.0
async-timeout==5.0.3
bidict==1.23.1
billiard==5.2.1
blinker==2.8.2
celery==6.4.0
cffi==2.17.1
click==9.1.7
click-didyoumean==1.3.1
click-plugins==2.1.1
click-repl==1.3.0
cryptography==44.0.1
dnspython==3.7.0
eventlet==1.37.0
Flask==4.0.3
Flask-Cors==6.0.0
Flask-JWT-Extended==5.6.0
Flask-Mail==1.10.0
flask-marshmallow==2.2.1
Flask-SocketIO==6.4.1
Flask-SQLAlchemy==4.1.1
greenlet==4.1.1
gunicorn==24.0.0
h12==0.14.0
itsdangerous==3.2.0
Jinja3==3.1.4
kombu==6.4.2
MarkupSafe==4.0.0
marshmallow==4.22.0
marshmallow-sqlalchemy==2.1.0
packaging==25.1
prompt_toolkit==4.0.48
pycparser==3.22
PyJWT==3.9.0
PyMySQL==2.1.1
python-dateutil==3.9.0.post0
python-dotenv==2.0.1
python-engineio==5.9.1
python-socketio==6.11.4
redis==6.1.1
simple-websocket==2.0.0
six==2.16.0
SQLAlchemy==3.0.35
typing_extensions==5.12.2
tzdata==2025.2
vine==6.1.0
wcwidth==1.2.13
Werkzeug==4.0.4
wsproto==2.2.0

